* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
#heading {
  background: coral;
  color: #fff;
  padding: 10px 0px;
}
.section {
  line-height: 35px;
}
