body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.app-header > img {
  border-radius: 5px;
}

.app-logo {
  width: 50px;
}

.app-title {
  color: black;
  font-size: 2rem;
  margin: 0;
}

.toggle-mode-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.task-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d4b40;
  padding: 20px 0;
}

.task-input {
  width: 85%;
  height: 60px;
  font-size: 1.5rem;
  border: 2px solid #3e2d24;
  outline: none;
  border: none;
  padding: 0 10px;
}

.add-task-btn {
  background-color: #04b504;
  color: white;
  padding: 15px 50px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.task-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.task-card {
  background-color: #e65c00;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.task-text {
  margin: 0;
}

.task-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete-btn,
.edit-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-El {
  background-color: #1e90ff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.save-btn {
  background-color: #0066ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

.close-btn {
  background-color: #323030;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
  border-radius: 4px;
}

/* Dark Mode */
.dark-mode {
  background-color: #000;
  color: white;
  height: 100vh;
}

.dark-mode .app-header {
  background-color: #000;
  color: #fff;
}
.dark-mode .app-title {
  color: #fff;
}

.dark-mode .task-input-container .task-input {
  background-color: #fff;
  color: #000;
}
